*{
  font-family: serif;
  font-size: 35px;
  color: white;
  margin: 0;
}
.departures{
  background-color: rgb(6,6,6);
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px,
  rgba(0,0,0,0.3) 0 8px 16px -8px;
  text-align: center;
}



/*-------Table-------*/

.table{
  width: 100vw;
  padding: 0 5vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.table-head tr{
  display: flex;
  justify-content: space-around;
}

#time, #gate{
}
